# Cache & Compilation
out/
cache/
artifacts/
build/
dist/
node_modules/
.svelte-kit/
.next/

# Environnement & Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Logs & OS
*.log
.DS_Store
Thumbs.db

# Binaires
bin/
safepump-api
safepump-backend
backend/backend
backend/safepump-backend
backend/api/api
