# PostgreSQL Connection String (local Postgres server)
DATABASE_URL=host=localhost user=postgres password=postgres dbname=safepump port=5432 sslmode=disable

# Base Layer 2 RPC Node (Base Sepolia Testnet)
RPC_URL=https://sepolia.base.org

# Deployed SafePumpFactory address
FACTORY_ADDRESS=0x0000000000000000000000000000000000000000

# The block number of the Factory contract deployment (set to start indexing from there)
START_BLOCK=0

# Server listen address
SERVER_ADDR=:8080
